





*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;

}

body {
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    display: flex;
    align-items: center;
    min-height: 80vh;
    background-color: #f5f5f5;
    padding: 70px 0;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 150px; /* Reducir el ancho máximo de la imagen del logo */
}

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {
    font-size: 18px;
    padding: 20px;
    color: #111;
    display: block;
}

#menu {
    display: none;
}

.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}

.submenu {
    position: relative;
}

.submenu #carrito {
    display: none;
}

.submenu:hover #carrito {
    display:block;
    position: absolute;
    right: 0;
    backdrop-filter: blur(10px);
    top: 100%;
    z-index: 1;
    background-color: #4E4B5076;
    padding: 20px;
    min-width: 400px;
}

table {
    width: 100%;
}

th, td {
    color: #f5f5f5;
}

.borrar {
    background-color: #111;
    border-radius: 50%;
    padding: 5px 10px;
    text-decoration: none;
    color: #f5f5f5;
    font-weight: 800;
    cursor: pointer;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    padding: 0 200px;
}

.header-img {
    flex-basis: 50%;
    text-align: center;
}

.header-txt {
    flex-basis: 50%;
    text-align: center;
}

.header-txt h1 {
    font-size: 90px;
    text-transform: uppercase;
    line-height: 1;
    color: #82C427;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 15px;
}

.header-txt p{
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    background-color: #0097A7;
    color: #f5f5f5;
    border-radius: 5px;
}

.ofert {
    padding: 20px 0 0 0;
    display: flex;
    justify-content: space-between;
}

.ofert-1 {
    display: flex;
    align-items: center;
    flex-basis: calc(33.3% - 15px);
    background-color: #f5f5f5;
    padding: 35px;
}

.ofert-img {
    flex-basis: 50%;
    margin-right: 15px;
}

.ofert-img img {
    width: 250px;
}

.ofert-txt{
    flex-basis: 50%;
    text-align: center;
}

.ofert-txt h3 {
    color: #82C427;
    font-family: 'Oswald', sans-serif;
    font-size: 25px;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.btn-2 {
    display: inline-block;
    padding: 7px 10px;
    background-color: #0097A7;
    color: #f5f5f5;
    border-radius: 5px;
    font-size: 15px;
}
.btn-container {
    display: flex;
    justify-content: space-between; /* Esto distribuirá el espacio entre los elementos */
    margin-top: 10px; /* Puedes ajustar esto según sea necesario */
}
.products {
    padding: 50px 0;
    text-align: center;
}

.products h2{
    color: #0097A7;
    font-family: 'Oswald', sans-serif;
    font-size: 50px;
    text-transform: uppercase;
    margin-bottom: 50px;
}

.product-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap : 50px
}

.product {
    text-align: center;
    padding: 30px;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
}

.product img {
    width: 250px;
    height: 370px;
    margin-bottom: 20px;
}

.product h3{
    font-size: 20px;
    color: #82C427;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.product p, .precio {
    font-size: 16px;
    color:#111;
    margin-bottom: 15px;
}

.precio{
    font-weight: 800;
}
.simbolo, .precio {
    display: inline-block;
    font-weight: 800;
}
.agregar-carrito {
    margin-top: 10px; /* Ajusta este valor según sea necesario */
}
#comprar-btn {
    background-color: #0097A7;
    color: #f5f5f5;
    border-radius: 5px;
    display: inline-block;
    padding: 7px 10px;
    border: none; /* Para quitar el borde predeterminado del botón */
    cursor: pointer; /* Para mostrar un cursor indicando que el botón es clickeable */
    font-family: 'Poppins', sans-serif; /* Agregar la tipografía Poppins */
    font-size: 15px;
}

/* Estilos para el modal */
.modal {
    display: none; /* Ocultar por defecto */
    position: fixed; /* Permanece en la misma posición incluso si se desplaza la página */
    z-index: 1; /* Posición en la pila de capas */
    left: 0;
    top: 0;
    width: 100%; /* Ancho y alto del modal */
    height: 100%;
    overflow: auto; /* Permitir desplazamiento si el contenido es demasiado largo */
    background-color: rgb(0,0,0); /* Fondo oscuro */
    background-color: rgba(0,0,0,0.4); /* Fondo oscuro con transparencia */
  }
  
  /* Contenido del modal */
  .modal-content {
    background-color: #fefefe; /* Fondo del modal */
    margin: 10% auto; /* Centrar verticalmente y dejar espacio en los lados */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Ancho del contenido */
  }
  
  /* Botón para cerrar el modal */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Estilos para el formulario */
  form {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #45a049;
  }
    
.icons {
    padding: 50px 0 100px 0;
    display: flex;
    justify-content: space-between;
}

.icon-1{
    flex-basis: calc(33.3% - 30px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px;
    background-color: #f5f5f5;
}

.icon-txt h3{
    font-size: 20px;
    color: #82C427;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.icon-txt p{
    font-size: 16px;
    color: #111;
}

.blog{
    display: flex;
    justify-content: space-between;
    padding-bottom: 100px;
}

.blog-1{
    flex-basis: calc(33.3% - 30px);
}

.blog-1 img{
    margin-bottom: 20px;
}

.blog-1 h3 {
    font-size: 20px;
    color: #0097A7;
    font-family: 'Oswald?', sans-serif;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.blog-1 p{
    font-size: 16px;
    color: #111;
}

.footer{
    padding: 50px 0;
    background-color: #111;
}

.footer-content{
    display: flex;
    justify-content: space-between;
}

.link h3{
    font-size: 18px;
    color: #f5f5f5;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.link a {
    font-size: 16px;
    color: #dcdcdc;
    display: block;
    margin-bottom: 10px;
}
.swiper {
    width: 260px;
    height: 370px;
    margin-bottom: 20px;
  }

@media (max-width:991px){

    .menu{
        padding: 20px;
    }

    .menu label {
        display: initial;
    }

    .menu .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #18181811;
        display: none;
    }

    .menu .navbar ul li {
       width:100%;
    }

    .menu ul li a {
        color: #fff;
    }

    #menu:checked ~ .navbar {
        display: initial;
    }

    .logo {
        display: none;
    }

    .submenu:hover #carrito {
        min-width: 100%;
    }

    .header {
        min-height: 0vh;
    }

    .header-content {
        padding: 50px 0;
        flex-direction: column;
    }

    .header-img {
        display: none
    }

    .header-txt{
        flex-basis: 100%;
        text-align: center;
    }

    
    .header-txt h1 {
        font-size: 70px;
    }

    .ofert{
        padding: 30px   30px    0 30px;
        flex-direction: column;
    }

    .ofert-1{
        margin-bottom: 30px;
    }

    .products {
        padding: 0 30px 30px 30px;
    }

    .products h2 {
        margin-bottom: 30px;
    }

    .product-content{
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
    }

    .product img {
        width: 200px;
        height: 280px;
    }

    .icons {
        padding: 30px;
        flex-direction: column;
    }

    .icon-1 {
        margin-bottom: 30px;
    }

    .blog {
        padding: 0 30px 30px 30px;
        flex-direction: column;
    }

    .blog-1{
        margin-bottom: 30px;
    }

    .footer{
        padding: 30px;
    }

    .footer-content{
        flex-direction: column;
        text-align: center;
    }
    
}